@{
    ViewData["Title"] = "Cancelled Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>The stripe payment checkout has been cancelled!</h4>

<div>
    <a asp-controller="Vehicles" asp-action="Index">Back to List</a>
</div>

