@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-8">Welcome to</h3>


    <div class="jumbotron">
        <h1 class="display-4">VIP Rentals Service</h1>
        <p class="lead">Find the perfect vehicle for your needs.</p>
        <hr class="my-4">
        <p>Explore our wide range of vehicles available for rent.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
        <hr class="my-4">

    </div>

    <div class="container px-md-5 py-md-5">
        <h3 class="display-8 p-3">Features</h3>>
        <div class="row">
            <div class="col-md-4">
                <h5>Rent with an ease</h5>
                <p>Choose from our selection of cars for rent. Whether you need a compact car for city driving or an SUV for a family trip, we've got you covered.</p>
                
            </div>
            <div class="col-md-4">
                <h5>Variety of vehicles</h5>
                <p>Experience the freedom of the open road with our motorcycle rentals. We offer a variety of vehicles for different riding preferences.</p>
            
            </div>
            <div class="col-md-4">
                <h5>Cheap Rentals</h5>
                <p>We are a trusted rental service which holds the title of cheap and affordable rent-a-vehicle service.</p>
               
            </div>
        </div>
    </div>
    <hr class="my-4">
</div>
